<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <title>TAX Department</title>


    <link th:href="@{/static/css/components.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>

    <link th:href="@{/static/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css}">
    <link th:href="@{/static/css/core.css}" rel="stylesheet" type="text/css"/>
    <style>
        .table-action-btn {
            display: inline-block;
            width: 28px;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            font-size: 20px;
        }

    </style>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

</head>


<body class="fixed-left">

<div id="wrapper">
    <div class="topbar">

        <div class="topbar-left">
            <div class="text-center">
                <a href="/employees" class="logo"><i class="icon-magnet icon-c-logo"></i><span>TAX</span></a>
            </div>
        </div>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav hidden-xs">
                        <li>
                            <a href="javascript:void(0);">
                                <span class="font-14">[[${#authentication.principal.userRole}]]</span>
                            </a>
                        </li>
                    </ul>
                    <form role="search" class="navbar-left app-search pull-left hidden-xs">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>


                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown top-menu-item-xs">
                            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown"
                               aria-expanded="true">User</a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><i class="ti-user m-r-10 text-custom"></i> Profile</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Settings</a>
                                </li>
                                <li><a href="javascript:void(0)"><i class="ti-lock m-r-10 text-custom"></i> Lock screen</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="ti-power-off m-r-10 text-danger"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a class="waves-effect" href="/api/currency">
                            <i class="fa fa-money"></i>
                            <span> Exchange rate </span>
                        </a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-pencil-square-o"></i>
                            <span> About committee </span> <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href="#">About committee</a></li>
                            <li><a href="#">About committee</a></li>
                            <li><a href="#">About committee</a></li>
                            <li><a href="#">About committee</a></li>
                            <li><a href="#">About committee</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-pencil-square-o"></i><span
                                class="label label-primary pull-right">10</span><span> Activity </span> </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Activity</a></li>
                            <li><a href="#">Activity</a></li>

                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-pencil-square-o"></i> <span> Regulatory docs </span>
                            <span class="menu-arrow"></span> </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Regulatory docs</a></li>
                            <li><a href="#">Regulatory docs</a></li>
                            <li><a href="#">Regulatory docs</a></li>
                            <li><a href="#">Regulatory docs</a></li>
                            <li><a href="#">Regulatory docs</a></li>
                            <li><a href="#">Regulatory docs</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i
                                class="fa fa-pencil-square-o"></i><span> Taxation </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="#">Taxation</a></li>
                            <li><a href="#">Taxation</a></li>
                            <li><a href="#">Taxation</a></li>
                            <li><a href="#">Taxation</a></li>
                            <li><a href="#">Taxation</a></li>
                            <li><a href="#">Taxation</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect" ><i
                                class="fa fa-pencil-square-o"></i><span>Press service </span> <span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li><a href="#">Press service</a></li>
                            <li><a href="#">Press service</a></li>
                            <li><a href="#">Press service</a></li>
                            <li><a href="#">Press service</a></li>
                            <li><a href="#">Press service</a></li>
                            <li><a href="#">Press service</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-pencil-square-o"></i><span
                                class="label label-pink pull-right">11</span><span> Services </span></a>
                        <ul class="list-unstyled">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-pencil-square-o"></i><span
                                class="label label-pink pull-right">11</span><span> Open data </span></a>
                        <ul class="list-unstyled">
                            <li><a href="#">Open data</a></li>
                            <li><a href="#">Open data</a></li>
                            <li><a href="#">Open data</a></li>
                            <li><a href="#">Open data</a></li>
                            <li><a href="#">Open data</a></li>
                            <li><a href="#">Open data</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="content-page">
        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Currency</h4>
                        <ol class="breadcrumb">
                            <li><a href="?page=dashboard">main</a></li>
                            <li>exchange rate</li>
                        </ol>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-hover table-actions-bar">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Code</th>
                                    <th>Ccy</th>
                                    <th>Name RU</th>
                                    <th>Name UZ</th>
                                    <th>Rate</th>
                                    <th>Diff</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <footer class="footer text-right">
            State Tax Committee Call us: <a dir="ltr" href="tel:+' + 71 202-32-82 + '">71 202-32-82</a>,<a dir="ltr"
                                                                                                           href="tel:+' + 1198 + '">
            1198</a>
        </footer>

    </div>

</div>
<div class="modal fade" role="dialog" aria-labelledby="myModalLabel" id="reject-modal" tabindex="-1">
    <div class="modal-dialog modal-content" role="document"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    var resizefunc = [];
</script>


<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/jquery.app.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-sweetalert/sweet-alert.min.js}"></script>
<script th:src="@{/static/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/static/plugins/datatables/spring.friendly.js}"></script>
<script th:src="@{/static/plugins/datatables/dataTables.bootstrap.js}"></script>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    !function ($) {


        $(document).ready(function () {
            const authority = [[${#authentication.getAuthorities().get(0).authority}]];

            $('#datatable').DataTable({
                ajax: '/api/currency/data',
                responsive: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                pageLength: 10,
                order: [1, "desc"],
                columns: [
                    {
                        data: "ccy", render: function (data) {
                            return "<img width='40px' src='../../static/flags/big/" + data.toUpperCase() + ".svg'/>";
                        }
                    },
                    {
                        data: "code"
                    },
                    {
                        data: "ccy"
                    },
                    {data: "ccyNm_RU"},
                    {
                        data: "ccyNm_UZ"
                    },
                    {
                        data: "rate"
                    },
                    {
                        data: "diff", render: function (data) {
                            if (data.substring(0, 1) === '-')
                                return "<p style='color: red'>" + data.toUpperCase() + "</p>";
                            return "<p style='color: green'>" + data.toUpperCase() + "</p>";

                        }
                    },
                    {
                        data: "realTime", render(data){
                            let d = new Date(data),
                                day = '' + d.getDate(),
                                month = d.getMonth()+1,
                                // month = ''+d.getMonth()+1,
                                year = '' + d.getFullYear();
                            if ((''+month).length<2)
                                month='0'+month;
                            if (day.length<2)
                                day='0'+day;
                            var realTime = [year, month, day].join('-');
                            return "<p>" + realTime + "</p>";
                        }
                    }
                ]
            });

        });

    }(window.jQuery);
    /*]]>*/
</script>


</body>
</html>